@model RecipesSystem.AppServer.Models.Recipe

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/LustigLayout.cshtml";
}
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simply Recipes || Final</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="~/assets/favicon.ico" type="image/x-icon" />
    <!-- normalize -->
    <link rel="stylesheet" href="~/css/normalize.css" />
    <!-- font-awesome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <!-- main css -->
    <link rel="stylesheet" href="~/css/main.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	@*<link rel="icon" type="image/png" href="~/images/favicon3.png" />*@
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- favicon -->
	<link rel="shortcut icon" href="~/assets/favicon.ico" type="image/x-icon" />
	<!-- normalize -->
	<link rel="stylesheet" href="~/css/normalize.css" />

	<!-- font-awesome -->
	<link rel="stylesheet"
		  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
	<!-- main css -->
	<link rel="stylesheet" href="~/css/main.css" />
	
	<link href="https://imaot.co.il/Content/style-addition.css" rel="stylesheet" />
	<link href="https://imaot.co.il/Content/popupsNew.css" rel="stylesheet" />
	<link href="https://imaot.co.il/Content/addtohomescreen.css" rel="stylesheet" />
	<link href="https://imaot.co.il/css/imaot.css" rel="stylesheet" />
</head>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"  ></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrepInstructions" class="control-label"></label>
                <input asp-for="PrepInstructions" class="form-control" />
                <span asp-validation-for="PrepInstructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageURL" class="control-label"></label>
                <input asp-for="ImageURL" class="form-control" />
                <span asp-validation-for="ImageURL" class="text-danger"></span>
            </div>
           @* <div class="form-group">
                <label asp-for="KeyWord" class="control-label"></label>
                <input asp-for="KeyWord" class="form-control" />
                <span asp-validation-for="KeyWord" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="TimeToMake" class="control-label"></label>
                <input asp-for="TimeToMake" class="form-control" />
                <span asp-validation-for="TimeToMake" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=" cookingTime" class="control-label"></label>
                <input asp-for="cookingTime" class="form-control" />
                <span asp-validation-for=" cookingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diners" class="control-label"></label>
                <input asp-for="Diners" class="form-control" />
                <span asp-validation-for="Diners" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tools" class="control-label"></label>
                <input asp-for="Tools" class="form-control" />
                <span asp-validation-for="Tools" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Integredient" class="control-label"></label>
                <input asp-for=" Integredient " class="form-control" />
                <span asp-validation-for="Integredient" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

