@model RecipesSystem.AppServer.Models.Recipe
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/LustigLayout.cshtml";
}
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simply Recipes || Final</title>
   
    <style>
        .form-control {
            background-color: #ffffff;
            border: 1px solid #cccccc;
            border-radius: 4px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
            color: #555555;
            display: block;
            font-size: 100%;
            line-height: 1.42857;
            padding: 6px 12px;
            transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
            vertical-align: middle;
            width: 100%;
        }
        .control-label{

        }  

    </style>


</head>
<body>
    <div class="page">
        <div class="form contact-form">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-row">
                <label asp-for="Name" contextmenu="Name" class="control-label"></label>
                    <input asp-for="Name"  placeholder="Enter the name of the recipe" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
                <div class="form-row">
                <label asp-for="Description" class="control-label"  ></label>
                    <input asp-for="Description" placeholder="Here you can describe your recipe" textarea name="Description" id="Description" class="form-textarea"></textarea>

                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
                <div class="form-row">
                <label asp-for="PrepInstructions" class="control-label"></label>
                    <input asp-for="PrepInstructions" placeholder="Enter a period and a space to go to the next step" textarea name="PrepInstructions" id="PrepInstructions" class="form-textarea"></input>
      
                    <span asp-validation-for="PrepInstructions" class="form-danger"></span>
            </div>
                <div class="form-row">
                <label asp-for="ImageURL" class="control-label"></label>
                    <input asp-for="ImageURL" placeholder="Insert a link with a JPG extension" class="form-control" />
 
                <span asp-validation-for="ImageURL" class="text-danger"></span>
            </div>
      
                <div class="form-row">
                <label asp-for="TimeToMake" class="control-label"></label>
                    <input asp-for="TimeToMake" placeholder="Enter the recipe preparation time" class="form-control" />
                <span asp-validation-for="TimeToMake" class="text-danger"></span>
            </div>
                <div class="form-row">
                <label asp-for=" CookingTime" class="control-label"></label>
                    <input asp-for="CookingTime" placeholder="Enter the baking/cooking time of the recipe" class="form-control" />
                <span asp-validation-for=" CookingTime" class="text-danger"></span>
            </div>
                <div class="form-row">
                <label asp-for="Diners" class="control-label"></label>
                    <input asp-for="Diners" placeholder="Enter only positive values" class="form-control" />
                <span asp-validation-for="Diners" class="text-danger"></span>
            </div>

                <div class="form-row">
                <label asp-for="Ingredients" class="control-label"></label>
                    <input asp-for="Ingredients" placeholder="Insert a comma to move to the next element" textarea name="Ingredients" id="Ingredients" class="form-textarea"></textarea>
           
                    <span asp-validation-for="Ingredients" class="form-danger"></span>
            </div>
                <div class="form-row">
                <label asp-for="Tag" class="control-label"></label>
                <select name="Tag"  class="form-control">
                    <option value="0">Soup</option>
                    <option value="1">Salad</option>
                    <option value="2">Desert</option>
                    <option value="3">Cakes</option>
                    <option value="4">Cookies</option>
                    <option value="5">Breads</option>
                    <option value="6">Fish</option>
                    <option value="7">Chicken</option>
                    <option value="8">Meat</option>
                    <option value="9">Quiche</option>
                    <option value="10">Pasta</option>
                    <option value="11">Pizza</option>
                </select >
                <span asp-validation-for="Tag" class="text-danger"></span>
            </div>
                <div class="form-row">
                <input type="submit" onclick = "location.href='@Url.Action("Details","Recipes")'" value="Submit" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

