@model RecipesSystem.AppServer.Models.Recipe

@{
    ViewData["Title"] = "Create";
    //Layout = "~/Views/Shared/LustigLayout.cshtml";
}
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simply Recipes || Final</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="~/assets/favicon.ico" type="image/x-icon" />
    <!-- normalize -->
    <link rel="stylesheet" href="~/css/normalize.css" />
    <!-- font-awesome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <!-- main css -->
    <link rel="stylesheet" href="~/css/main.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	@*<link rel="icon" type="image/png" href="~/images/favicon3.png" />*@
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- favicon -->
	<link rel="shortcut icon" href="~/assets/favicon.ico" type="image/x-icon" />
	<!-- normalize -->
	<link rel="stylesheet" href="~/css/normalize.css" />

	<!-- font-awesome -->
	<link rel="stylesheet"
		  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
	<!-- main css -->
	<link rel="stylesheet" href="~/css/main.css" />
    <link rel='stylesheet' id='contact-form-7-css' href='https://ranveerbrar.com/wp-content/plugins/contact-form-7/includes/css/styles.css' type='text/css' media='all' />
    <link rel='stylesheet' id='rb-style-css' href='https://ranveerbrar.com/wp-content/themes/ranveer-brar/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='rb-style-bs-css' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='rb-dev-style-css' href='https://ranveerbrar.com/wp-content/themes/ranveer-brar/rb-style.css?rf=96&ver=6.0.2' type='text/css' media='all' />
    <link rel='stylesheet' id='rb-mobile-style-css' href='https://ranveerbrar.com/wp-content/themes/ranveer-brar/css/mobile_menu.css' type='text/css' media='all' />
    <link rel='stylesheet' id='rb-hover-css' href='https://ranveerbrar.com/wp-content/themes/ranveer-brar/css/hover.css' type='text/css' media='all' />
    <link rel='stylesheet' id='noto-font-css' href='https://fonts.googleapis.com/css2?family=Noto+Serif%3Aital%2Cwght%400%2C400%3B0%2C700%3B1%2C400&display=swap&ver=6.0.2' type='text/css' media='all' />
    <link rel='stylesheet' id='worksans-font-css' href='https://fonts.googleapis.com/css2?family=Work+Sans%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B1%2C400%3B1%2C500&#038;display=swap&#038;ver=6.0.2' type='text/css' media='all' />
    <link rel='stylesheet' id='slider-tiny-carousel-css-css' href='https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css' type='text/css' media='all' />
    <link rel='stylesheet' id='qlwapp-css' href='https://ranveerbrar.com/wp-content/plugins/wp-whatsapp-chat/assets/frontend/css/frontend.css' type='text/css' media='all' />
    <link rel='stylesheet' id='addtoany-css' href='https://ranveerbrar.com/wp-content/plugins/add-to-any/addtoany.min.css' type='text/css' media='all' />
</head>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"  ></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrepInstructions" class="control-label"></label>
               
                <input asp-for="PrepInstructions" class="form-control" />
                <span asp-validation-for="PrepInstructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageURL" class="control-label"></label>
                <input asp-for="ImageURL" class="form-control" />
  
                <span asp-validation-for="ImageURL" class="text-danger"></span>
            </div>
           @* <div class="form-group">
                <label asp-for="KeyWord" class="control-label"></label>
                <input asp-for="KeyWord" class="form-control" />
                <span asp-validation-for="KeyWord" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="TimeToMake" class="control-label"></label>
                <input asp-for="TimeToMake" class="form-control" />
                <span asp-validation-for="TimeToMake" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=" CookingTime" class="control-label"></label>
                <input asp-for="CookingTime" class="form-control" />
                <span asp-validation-for=" CookingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diners" class="control-label"></label>
                <input asp-for="Diners" class="form-control" />
                <span asp-validation-for="Diners" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tools" contextmenu="Tools" class="control-label" ></label>
                <input asp-for="Tools" class="form-control" />
                <span asp-validation-for="Tools" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredients" class="control-label"></label>
                <input asp-for=" Ingredients " class="form-control" />
                <span asp-validation-for="Ingredients" class="text-danger"></span>
            </div>
            <div  class="form-group">
                <label asp-for="Tag" class="control-label"></label>
                <select name="Tag"  class="form-control">
                    <option value="0">BREAD RECIPES</option>
                    <option value="1">EVERY DAY COOKING</option>
                    <option value="2">LUNCH RECIPES</option>
                    <option value="3">DINNER RECIPES</option>
                    <option value="4">MAIN DISHES</option>
                    <option value="5">BREAKFAST AND BRUNCH</option>
                    <option value="6">DRINKS</option>
                    <option value="7">APPETIZERS AND SNACKS</option>
                </select >
                <span asp-validation-for="Tag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

