@model RecipesSystem.AppServer.Models.Recipe
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/LustigLayout.cshtml";
}
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simply Recipes || Final</title>
   
    <style>
        .form-control {
            background-color: #ffffff;
            border: 1px solid #cccccc;
            border-radius: 4px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
            color: #555555;
            display: block;
            font-size: 100%;
            line-height: 1.42857;
            padding: 6px 12px;
            transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
            vertical-align: middle;
            width: 100%;
        }

    </style>


</head>
<body>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" contextmenu="Tools" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"  ></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrepInstructions" class="control-label"></label>
               
                <input asp-for="PrepInstructions" class="form-control" />
                <span asp-validation-for="PrepInstructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageURL" class="control-label"></label>
                <input asp-for="ImageURL" class="form-control" />
 
                <span asp-validation-for="ImageURL" class="text-danger"></span>
            </div>
          @*  <div class="form-group">@*העלאת תמונה בצורת בחירה של קובץ*@
              @*  <label for="ImageUpload">Upload Image:</label>
                <input type="file" name="ImageUpload" id="ImageUpload" class="form-control file-input" accept="image/*" />    
                
            </div>*@
            <div class="form-group">
                <label asp-for="TimeToMake" class="control-label"></label>
                <input asp-for="TimeToMake" class="form-control" />
                <span asp-validation-for="TimeToMake" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=" CookingTime" class="control-label"></label>
                <input asp-for="CookingTime" class="form-control" />
                <span asp-validation-for=" CookingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diners" class="control-label"></label>
                <input asp-for="Diners" class="form-control" />
                <span asp-validation-for="Diners" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Ingredients" class="control-label"></label>
                <input asp-for=" Ingredients " class="form-control" />
                <span asp-validation-for="Ingredients" class="text-danger"></span>
            </div>
            <div  class="form-group">
                <label asp-for="Tag" class="control-label"></label>
                <select name="Tag"  class="form-control">
                    <option value="0">Soup</option>
                    <option value="1">Salad</option>
                    <option value="2">Desert</option>
                    <option value="3">Cakes</option>
                    <option value="4">Cookies</option>
                    <option value="5">Breads</option>
                    <option value="6">Fish</option>
                    <option value="7">Chicken</option>
                    <option value="8">Meat</option>
                    <option value="9">Quiche</option>
                    <option value="10">Pasta</option>
                    <option value="11">Pizza</option>
                </select >
                <span asp-validation-for="Tag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Holiday" class="control-label"></label>
                <select name="Tag" class="form-control">
                    <option value="0">Rosh-hashana</option>
                    <option value="1">Sukot</option>
                    <option value="2">Shavuot</option>
                    <option value="3">Pesach</option>
                    <option value="4">Chanuka</option>
                    <option value="5">purim</option>
                    <option value="6">No holiday</option>
                </select>
                <span asp-validation-for="Holiday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weather" class="control-label"></label>
                <select name="Tag" class="form-control">
                    <option value="0">HOT</option>
                    <option value="1">COLD</option>
                    <option value="2">NICE</option>
                </select>
                <span asp-validation-for="Weather" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" onclick = "location.href='@Url.Action("Details","Recipes")'" value="Submit" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

