@model RecipesSystem.AppServer.Models.Recipe
@{
    ViewData["Title"] = "Contact";
  Layout = "~/Views/Shared/LustigLayout.cshtml";
}
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="~/assets/favicon.ico" type="image/x-icon" />
    <!-- normalize -->
    <link rel="stylesheet" href="~/css/normalize.css" />
    <!-- font-awesome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <!-- main css -->
    <link rel="stylesheet" href="~/css/main.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <style>
        html {
            font: 2ch/1.5 'Segoe UI';
        }

        body {
            color:#000  /*  #FFB300*/;
            background: white ;
        }
        input,
        label {
            display: inline-block;
            margin-left: 10px;
            font: inherit;
            cursor: pointer;
        }

        .form{
            color:#000;
            background: white;
        }
        .form-control-color
        {
              color:/*#000 */   #FFB300;
            background: white ;
        }

      
        
        .set {
            display: inline-block;
            font-size: 2rem;
            border: 1px solid #000 /*#FC0*/;
        }

            .set::after {
                content: "";
                display: table;
                clear: both;
            }

        .star {
            float: right;
            padding-left: 2px ;
            color: #FFB300;
        }

            .star:last-child {
                padding-left: 0;
            }

        .rad,
        #chx {
            display: none;
        }

        .half {
            float: right;
            font-size: 1.5rem;
            vertical-align: middle;
        }

            .half::before {
                content: '\0000bd';
            }
        /* 1. hover over a label.star directly and display
            ||    the full gold star in the ::before pseudo
            ||    element.
            */
        /* 2. hover over a label.star and display it and all
            ||    other label.star before it as a full gold star
            */
        /* 3. check a label.star and display it and all other
            ||    label.star before it as a full gold star.
            ||    Full persistent empty stars are possible because
            ||    of the :checked pseudo-selector
            */

        .star:hover::before,
        .star:hover ~ .star::before,
        .rad:checked ~ .star::before {
            content: "\f005";
        }
        /* 4. click the ½ and the associated checkbox sitting outside of
            ||    the fieldset (hidden) when checked will pair up with the checked
            ||    radio which in turn changes the full star into a half star.
            */

        #chx:checked + .set .rad:checked + .star::before {
            content: "\f123";
        }
    </style>
</head>

<body>
   
        <input id='chx' type='checkbox'>
        <fieldset class='set'>
            <section class="contact-container">
                <article class="contact-info">
                    <h3>Help us improve</h3>
                    <p>
                        Write an opinion on the recipe and rate it,
                        so thousands more people like you will enjoy this recipe too.
                        Thanks for the cooperation 😊❤️
                    </p>
                </article>
                <article>
                <form asp-action="Rate" class="form contact-form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-row">
                            <label asp-for="Note" class="form-label"></label>
                            <input asp-for="Note"  class="form-input" />
                            <span asp-validation-for="Note" class="text-danger"></span>
                        </div>
                        <legend>Rate It</legend>
                        <div class="form-control-color">  
                        <label for='chx' class='half'></label>
                        <input asp-for="Rate" value="5" id="rad5" class="rad" name="Rate" type="radio" >
                        <label for="rad5" class="star fa fa-star-o fa-lg"></label>
                        <input asp-for="Rate" value="4" id="rad4" class="rad" name="Rate" type="radio">
                        <label for="rad4" class="star fa fa-star-o fa-lg"></label>
                        <input asp-for="Rate" value="3" id="rad3" class="rad" name="Rate" type="radio">
                        <label for="rad3" class="star fa fa-star-o fa-lg"></label>
                        <input asp-for="Rate" value="2" id="rad2" class="rad" name="Rate" type="radio">
                        <label for="rad2" class="star fa fa-star-o fa-lg"></label>
                        <input asp-for="Rate" value="1" id="rad1" class="rad" name="Rate" type="radio">
                        <label for="rad1" class="star fa fa-star-o fa-lg"></label>
                        
                         <span asp-validation-for="Rate" class="text-danger"></span>
                        </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-block" />
                    </div>
                    
                    </form>
                </article>
            </section>
         
        </fieldset>
   
</body>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

