<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
	</div >
	<div class="pic-info">
		מנת פסטה מושלמת לצליאקים
	</div>

	<h3 style="margin-top: 0;">מצרכים למתכון</h3>
	<p>
		5 מנות/יחידות, 262 גרם למנה\יחידה <span style="color: gray;font-size: .8em;">(תלוי בגודל המנה)</span>
	</p>

	<ul class='list-group'><li class='list-group-item'><a href='/Products/91/פסטה ללא גלוטן/500 גרם' title='פסטה ללא גלוטן'>פסטה ללא גלוטן</a>&nbsp;-&nbsp;<span dir='rtl'><mark>שקית </mark> (500 גרם)</span></li><li class='list-group-item'><a href='/Products/1/בטטה מבושלת ללא קליפה/313 גרם' title='בטטה מבושלת ללא קליפה'>בטטה</a>&nbsp;-&nbsp;<span dir='rtl'><b>1/2</b> <mark>יחידה בינונית </mark> - <span>סה"כ</span> (157 גרם)</span></li><li class='list-group-item'><a href='/Products/1/בצל מבושל/125 גרם' title='בצל מבושל'>בצל</a>&nbsp;-&nbsp;<span dir='rtl'><mark>יחידה בינונית </mark> (125 גרם)</span><div class='product-remark'><i class='fas fa-info-circle'>&#xf05a;</i>קצוץ</div></li><li class='list-group-item'><a href='/Products/1/פטריות מבושלות/25 גרם' title='פטריות מבושלות'>פטריות</a>&nbsp;-&nbsp;<span dir='rtl'><b>5.5</b> <mark>גודל ממוצע </mark> - <span>סה"כ</span> (138 גרם)</span><div class='product-remark'><i class='fas fa-info-circle'>&#xf05a;</i>5-6 פטריות קצוצות</div></li><li class='list-group-item'><a href='/Products/91/ערמונים קלופים וקלויים/100 גרם' title='ערמונים קלופים וקלויים'>ערמונים קלופים וקלויים</a>&nbsp;-&nbsp;<span dir='rtl'><mark>אריזת ניילון </mark> (100 גרם)</span><div class='product-remark'><i class='fas fa-info-circle'>&#xf05a;</i>קצוצים</div></li><li class='list-group-item'><a href='/Products/103/שמן זית כתית מעולה קלאסי מעודן/10 מ"ל' title='שמן זית כתית מעולה קלאסי מעודן'>שמן זית</a>&nbsp;-&nbsp;<span dir='rtl'><b>2</b> <mark>כף </mark> - <span>סה"כ</span> (20 מ"ל)</span><div class='product-remark'><i class='fas fa-info-circle'>&#xf05a;</i>לטיגון</div></li><li class='list-group-item'><a href='/Products/5/השף הלבן - שמנת עמידה לבישול 10%25 שומן/250 מ"ל' title='השף הלבן - שמנת עמידה לבישול 10% שומן'>שמנת לבישול 10&#37; שומן</a>&nbsp;-&nbsp;<span dir='rtl'><mark>קופסת קרטון </mark> (250 מ"ל)</span><div class='product-remark'><i class='fas fa-info-circle'>&#xf05a;</i>או רוטב שמנת 9&#37; שומן</div></li><li class='list-group-item'><a href='/Products/13/בזיליקום קצוץ/8.75 גרם' title='בזיליקום קצוץ'>בזיליקום קצוץ</a>&nbsp;-&nbsp;<span dir='rtl'><mark>קוביה </mark> (8.75 גרם)</span></li><li class='list-group-item'><a href='/Products/1/מלח שולחן/9 גרם' title='מלח שולחן'>מלח</a>&nbsp;-&nbsp;<span dir='rtl'><mark>כפית שטוחה </mark></span></li><li class='list-group-item'><a href='/Products/1/פלפל שחור/2 גרם' title='פלפל שחור'>פלפל שחור</a>&nbsp;-&nbsp;<span dir='rtl'><b>1/2</b> <mark>כפית שטוחה </mark></span><div class='product-remark'><i class='fas fa-info-circle'>&#xf05a;</i>גרוס</div></li><li class='list-group-item'><a href='/Products/1/אורגנו מיובש/1 גרם' title='אורגנו מיובש'>אורגנו מיובש</a>&nbsp;-&nbsp;<span dir='rtl'><mark>כפית שטוחה </mark> (1 גרם)</span></li></ul>				</div>
	</div>
	<div class="row">
		<div class="col-12 col-hw">


			<h3>אופן הכנת המתכון</h3>

			<ul class="recipe-basic-details">
				<li style="margin-right: 0px;"><strong>עיקריות</strong>סוג המנה</li>
				<li><strong>מתחיל</strong>דרגת קושי</li>
				<li><strong>מהיר מאוד</strong>זמן הכנה</li>
				<li style="margin-left: 0px;"><strong>חלבי, כשר</strong>כשרות</li>
			</ul>

			<ul class='howto-list'><li><span>1</span> להכין את הפסטה על פי הוראות היצרן &#40;לשמור מעט ממי הבישול&#41;.</li><li><span>2</span> לחתוך את הבטטה לקוביות. להרתיח בסיר קטן מים ולהכניס את קוביות הבטטה כשהמים רותחים עד שהיא רכה ולסנן מהמים.</li><li><span>3</span> לטגן בשמן הזית את הבצל, הפטריות והערמונים עד להזהבה, להוסיף את השמנת והבטטה המסוננת, להנמיך מעט את האש, לערבב ולתבל.</li><li><span>4</span> להוסיף קצת מהמים של הפסטה &#40;או מים רותחים&#41; לרוטב כשהוא מתחיל להסמיך.</li><li><span>5</span> לסנן את הפסטה, להוסיף לרוטב, לערבב לעוד כמה דקות, להסיר מהאש ולהגיש פסטה ללא גלוטן פשוט מושלמת עם הרבה גבינת פרמזן מעל.</li><li><span>6</span> בתיאבון <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACT0lEQVQ4jZWTS2gTURSGvzt5p01qGm1ia2qr4KYqVQuiYHEhbqS4Lz6W0q1uahcuXCjuRQVBiq+NgkIEXxSpILZQS6GFPhbF2haTFvMyzphH58qdyUCIC/HAZebce+afc79zjpBTAzTYKeA8cALYDujABPAMeFIfKvqSaHV+ELgHvAcuAN1ACIgBZ4HHwCtgX72Iu+59HuhsTKfBztSWiltVR04Go0jZiZQQD0G0CbZM+6RqQosfdoVBE2BKtfsa8DgCx4CLaBoEPIy/nGVybAlCflugxc/i9BrJ0Wm2lKjXpXZ7gBFH4IpNwEvpZ4nhW7M8fD4DATe4NQj7efFmgcvX50ltFC2/ZoOOQL/lmyaax0V7G2xTQSpTtUxJOOxjZwy86u9b0hFosyohpwZKgNfa8rlZX8mAEHQkIlCuWilnN4tkcgZ7u6NYnGwNXfQlm1QVDEtAwQpqdBzdDRkdsoZ9Bb1CJB4mcrAd8r/hxy9wWeyrzhWmLb2wn7kvq3z7vALRALQ1Q9ADrUGINaMvpJkYW0J63SCsL3KOwB0bogfdlIzcHOf2jY8sL6Qx8gaptSxP704ydPUtOaOCaAk4DN45DNTzA1KeVPVfXtzk/oMpFpcL+PxQLkOs1cu5wV6O9++BrK7AFoCE6EsWHIEYkpRFZ0ezQs/XmRTrqaJVkZ7DcQgF4HvBhijEadXyahacVk4jOADiERvFXgWva3+criMuuxMVvEJedWIaIS7V5uWvWZgDDqGJa5hygJyRqA1YBVhHE5+AYSD/j3n5DwP+AKtFxDUjjym2AAAAAElFTkSuQmCC" width="16" height="16" alt="חיוך" style="margin: 6px;" /></li></ul>
			<div style="text-align: center;padding-bottom: 10px;">
				<div class="badge-link food-coloring"><i class='far fa-check-circle'>&#xf058;</i><span>ללא צבעי מאכל</span></div><div class="badge-link preservative"><i class='far fa-check-circle'>&#xf058;</i><span>ללא חומרים משמרים</span></div>
			</div>

			<div class="tip-container">
				<div>
					<i class='fas fa-info-circle'>&#xf05a;</i><span style="margin-left: 7px;font-weight: 600;height: 20px;">טיפ למתכון</span>
					<div>במקום גבינת פרמזן ממליצה גם על גבינה בולגרית 5&#37;, גבינת חמד 5&#37;, גבינה צהובה 9&#37; או כל גבינה אחרת שאוהבים.</div>
				</div>
			</div>

			<p style="margin: 10px 0 0 0;display: flex;"><i class="fas fa-question-circle-o" style="margin: 4px 7px;font-size: 1.2em;color: #cacaca;">&#xf29c;</i>התבלינים במתכון לפי הטעם האישי. שיטת ההכנה כוללת גם טיגון.</p>

			<div style="margin: 25px auto;">
			</div>

			<p style='margin: 20px 0 0 0;text-align: center;background: #efefef;padding: 3px;border-radius: 4px;'>כנסו: <a href='/Recipes/Books/44' onclick="gtag('event', 'internal-operations', {action: 'recipe-promote-after-how-to', label: '/Recipes/Books/44'});" rel='noopener'>ספר המתכונים של רונה אשכנזי</a></p>
			<div id="editRecipeC11636" style="margin: 20px 0 0 0;text-align: center;"><input class="btn btn-secondary btn-sm btn-block add-to-recipe" data-id="11636" type="button" value="הוסף לספר המתכונים שלי" style="max-width: 240px;margin: 15px auto 0 auto;"></div>
		</div>
	</div>
    <div>

        @RenderBody()
    </div>
</body>
</html>
